@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Üyelik Aktivasyonu";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Linke tıklayarak üyeliğiniz <a id="confirm-link" href="@Model.EmailConfirmationUrl">aktifleştirebilirsiniz.</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
